/* Fuentes y estilos */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Montserrat:wght@400;600&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e6ffe6;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2ecc71;
    padding: 20px;
    color: white;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #27ae60;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #dff9fb;
}

/* Modal */
.modal-container {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    text-align: left;
    animation: fadeIn 0.5s ease-in-out;
}

.close-btn {
    float: right;
    font-size: 30px;
    cursor: pointer;
}

/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.8); }
    to { opacity: 1; transform: scale(1); }
}
